body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.row {
  margin: 30px;
}
.post {
  padding: 10px;
  margin: 10px;
}

img {
  width: 200px;
  height: 200px;
}
.btn-success{
  margin: 20px 20px 20px 25px;
  height: 33px;
  width: 92%;
}
.med {
  margin-left: 0px !important;
  padding-left: 0px !important;
}
ul {
  list-style: none;
}
textarea#text {
  max-width: 500px;
}